<script setup lang="ts">
import * as vNG from "v-network-graph";
import { ref, watch } from "vue";
import { TreeNodes, TreeNode, nodes, layouts, configs } from "../data";
import {
  isTreeNodeNotFull,
  changeEdgesWidth,
} from "../operations/childDadConnection";
import { downloadAsSvg } from "../operations/downloadSvg";

import { eventLogs, addToEventLog } from "../operations/eventLog";
import { changeActivity } from "../operations/activity";
import { computeNodes, computeEdges } from "../operations/selectionDisplay";

let nodesToshow = ref<TreeNodes>(computeNodes());
let edgesToshow = ref<TreeNodes>(computeEdges());
let selectedNode = ref<string[]>([]);
let searchedNode = ref<string[]>([]);

const graph = ref<vNG.Instance>();
const zoomLevel = ref(1);
enum width {
  bold = 4,
  reguler = 1,
}

const eventHandlers: vNG.EventHandlers = {
  "node:click": ({ node }) => {
    clickHandle(node);
    addToEventLog(node, "click");
  },
  "node:dblclick": ({ node }) => {
    addToEventLog(node, "dbl_click");
    panToGraph(node);
  },
  "node:pointerover": ({ node }) => {
    const id = node as keyof typeof nodes;
    changeEdgesWidth(nodes[id], width.bold);
    edgesToshow.value = computeEdges();
  },
  "node:pointerout": ({ node }) => {
    const id = node as keyof typeof nodes;
    changeEdgesWidth(nodes[id], width.reguler);
    edgesToshow.value = computeEdges();
  },
};

watch(searchedNode, () => {
  panToGraph(searchedNode.value[0]);
});

const panToGraph = (nodeId: string) => {
  if (graph.value) {
    const sizes = graph.value.getSizes();
    graph.value.panTo({
      x:
        sizes.width / 2 - layouts.nodes[nodeId as keyof typeof layouts.nodes].x,
      y:
        sizes.height / 2 -
        layouts.nodes[nodeId as keyof typeof layouts.nodes].y,
    });

    selectedNode.value[0] = nodeId;
    zoomLevel.value = 2
  }
};
const clickHandle = (node: string) => {
  console.log("dad node: " + node);
  const id = node as keyof typeof nodes;
  const nodeObj: TreeNode = nodes[id];
  const isTreeNotFull = isTreeNodeNotFull(nodeObj);
  console.log(isTreeNotFull);

  changeActivity(nodeObj, isTreeNotFull);
  nodesToshow.value = computeNodes();
  edgesToshow.value = computeEdges();
  console.log(nodesToshow.value);
};
</script>

<template>
  <div class="demo-control-panel">
    <input type="button" @click="downloadAsSvg(graph)" value="Download SVG" />
    <input type="button" @click="graph?.panToCenter()" value="To center" />
    <input type="button" @click="graph?.fitToContents()" value="Fit" />
    <input type="button" @click="graph?.zoomIn()" value="Zoom In" />
    <input type="button" @click="graph?.zoomOut()" value="Zoom Out" />
    zoom-level:
    <input type="range" v-model="zoomLevel" min="0" max="4" step="0.1" />
    <label>search:</label>
    <select
      v-model="searchedNode"
      multiple
      :multiple-limit="1"
      placeholder="Select"
    >
      <option
        v-for="(node, key) in nodesToshow"
        :key="key"
        :label="node.name"
        :value="key"
      ></option>
    </select>
  </div>

  <v-network-graph
    ref="graph"
    class="graph"
    v-model:zoom-level="zoomLevel"
    v-model:selected-nodes="selectedNode"
    :configs="configs"
    :nodes="nodesToshow"
    :edges="edgesToshow"
    :layouts="layouts"
    :event-handlers="eventHandlers"
  >
  </v-network-graph>
  <div class="event-logs">
    <div
      v-for="[timestamp, type, log] in eventLogs"
      :key="`${timestamp}/${type}/${log}`"
    >
      {{ timestamp }}
      <span class="event-type">{{ type }}</span>
      {{ log }}
    </div>
  </div>
</template>

<style lang="css" scoped>
.graph {
  width: 800px;
  height: 600px;
  border: 1px solid #000;
}
.event-logs {
  position: absolute;
  inset: auto 10px 10px auto;
  margin-left: 10px;
  padding: 10px;
  background: #ffff0044;
  border-radius: 4px;
  font-size: 11px;
  font-family: monospace;
  line-height: 11px;
  pointer-events: none;
}
.event-logs div {
  word-break: break-all;
}
.event-type {
  font-weight: bold;
}
</style>
